In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Load the eggnog mapper file created for each OG

Create a mapping data frame linking each OrthoFinder OG to the eOG used by eggNOG

In [2]:
emapper = pd.read_csv("../Data/input/MM_jbrjl6fg.emapper.annotations.tsv", sep ="\t", comment = "#", header = None)
emapper.columns = ["query","seed_ortholog","evalue","score","eggNOG_OGs","max_annot_lvl","COG_category","Description","Preferred_name","GOs","EC","KEGG_ko","KEGG_Pathway","KEGG_Module","KEGG_Reaction","KEGG_rclass","BRITE","KEGG_TC","CAZy","BiGG_Reaction","PFAMs"]

OFOG_Annot = pd.DataFrame()
OFOG_Annot["OFOG"] = emapper["query"].str.split(".",expand=True)[0]
OFOG_Annot["eOG"] = emapper["eggNOG_OGs"].str.split("@",expand=True)[0]

OFOG_Annot

           OFOG         eOG
0     OG0000000     KOG0084
1     OG0000001     COG1136
2     OG0000003     COG1131
3     OG0000005     COG1028
4     OG0000006     COG2414
...         ...         ...
2280  OG0010442     COG2006
2281  OG0010449     COG1250
2282  OG0010450     COG0451
2283  OG0010452  arCOG02290
2284  OG0010536       4QAY9

[2285 rows x 2 columns]

Load the gene counts from OrthoFinder

In [3]:
OFOGs = pd.read_csv("../Data/input/Proteomes/OrthoFinder/Results_Dec03/Orthogroups/Orthogroups.GeneCount.tsv", sep ="\t", comment = "#", index_col = 0, header = 0)

OFOGs.astype(int)

OFOGs = OFOGs.merge(OFOG_Annot, how = "left", left_index=True, right_on = "OFOG").set_index("OFOG").drop("Total", axis = 1)

eOG = OFOGs.eOG.dropna().unique()

# Add the Orthofinder identifier to groups not listed in eggNOG
for OFOG in OFOGs[OFOGs.eOG.isna()].index:
    OFOGs.eOG.loc[OFOG] = OFOG
    
OFOGs

/var/folders/qr/vm827mh53sd6708z2k3_tnnrz3fj08/T/ipykernel_65529/3769753976.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OFOGs.eOG.loc[OFOG] = OFOG

,UP000070043,UP000070149,UP000070599,UP000185561,UP000186063,UP000186209,UP000186239,UP000186851,UP000228988,UP000245584,...,UP000760201,UP000771954,UP000775429,UP000777023,UP000825566,UP000825906,UP000826397,UP000826686,UP000826833,eOG
OFOG,,,,,,,,,,,,,,,,,,,,,
OG0000000,13,13,9,16,49,34,13,10,2,31,...,56,41,21,47,18,12,49,36,42,KOG0084
OG0000001,16,12,8,18,41,28,17,10,13,32,...,11,10,26,13,19,8,8,6,38,COG1136
OG0000002,14,9,4,11,35,5,8,0,0,15,...,12,19,5,21,12,9,21,5,28,OG0000002
OG0000003,22,18,11,17,24,20,4,4,6,26,...,14,10,12,12,17,4,13,8,29,COG1131
OG0000004,12,20,17,9,19,17,22,0,1,13,...,16,8,49,13,23,2,19,3,27,OG0000004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OG0010533,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,OG0010533
OG0010534,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,OG0010534
OG0010535,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,OG0010535
OG0010536,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,4QAY9
OG0010537,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,OG0010537

Combine Orthofinder dataframe with  eggNOG root level

In [5]:
pd.read_csv("../Data/input/EggNOG/1_members.tsv", sep ="\t", comment = "#", header = None, index_col = 1)

,0,2,3,4,5
1,,,,,
28H50,1,5,5,"1227497.C491_15657,1230460.C495_06173,1343739....","1227497,1230460,1343739,387631,756883"
28H51,1,20,18,"112098.XP_008618080.1,115417.EPrPW00000013346,...","112098,115417,157072,164328,272952,325452,3633..."
28H52,1,787,285,"1001585.MDS_1187,1001585.MDS_3217,1001585.MDS_...","1001585,1004785,1005048,1005395,1027273,103667..."
28H53,1,3,3,"387631.Asulf_01066,565033.GACE_1727,589924.Fer...","387631,565033,589924"
28H54,1,33,32,"1005962.W1QBV1,1041607.K0KNT1,1071379.XP_00418...","1005962,1041607,1071379,113608,27288,27289,273..."
...,...,...,...,...,...
arCOG15264,1,3,3,"1227497.C491_04205,547559.Nmag_2737,694430.Nat...","1227497,547559,694430"
arCOG15268,1,5,5,"1227487.C474_09614,1324957.K933_09687,309800.C...","1227487,1324957,309800,413816,543526"
arCOG15271,1,2,2,"1229909.NSED_04090,1459636.NTE_01365","1229909,1459636"
arCOG15273,1,14,14,"1071085.KK033115_gene1789,1210908.HSB1_26090,1...","1071085,1210908,1227487,1230460,268739,29540,3..."
arCOG15274,1,3,3,"1041930.Mtc_0247,304371.MCP_0252,351160.RCIX1183","1041930,304371,351160"

In [9]:
Root_OGMembers = pd.read_csv("../Data/input/EggNOG/1_members.tsv", sep ="\t", comment = "#", header = None, index_col = 1)

Root_OGMembers = Root_OGMembers.iloc[0:10,] #Delete for full analysis

Root_OGMembers.loc[:,4] = Root_OGMembers.loc[:,4].str.split(",", expand = False)
Root_OGMembers

,0,2,3,4,5
1,,,,,
28H50,1,5,5,"[1227497.C491_15657, 1230460.C495_06173, 13437...","1227497,1230460,1343739,387631,756883"
28H51,1,20,18,"[112098.XP_008618080.1, 115417.EPrPW0000001334...","112098,115417,157072,164328,272952,325452,3633..."
28H52,1,787,285,"[1001585.MDS_1187, 1001585.MDS_3217, 1001585.M...","1001585,1004785,1005048,1005395,1027273,103667..."
28H53,1,3,3,"[387631.Asulf_01066, 565033.GACE_1727, 589924....","387631,565033,589924"
28H54,1,33,32,"[1005962.W1QBV1, 1041607.K0KNT1, 1071379.XP_00...","1005962,1041607,1071379,113608,27288,27289,273..."
28H55,1,3,3,"[1184251.TCELL_0199, 591019.Shell_1246, 633148...","1184251,591019,633148"
28H56,1,2,2,"[1457250.BBMO01000001_gene1068, 756883.Halar_0...","1457250,756883"
28H57,1,403,176,"[1005962.W1Q7R1, 101028.EKJ74182, 101028.EKJ75...","1005962,101028,101162,101852,10224,1041607,104..."
28H58,1,17,17,"[1003195.SCAT_0562, 1089544.KB912942_gene1129,...","1003195,1089544,1120971,1120977,1123487,113395..."
28H59,1,4,3,"[565033.GACE_1005, 572546.Arcpr_0848, 69014.TK...","565033,572546,69014"

In [10]:
Root_OGMembers_temp = pd.DataFrame(Root_OGMembers.loc[:,4].explode()).reset_index()
Root_OGMembers_temp

          1                       4
0     28H50      1227497.C491_15657
1     28H50      1230460.C495_06173
2     28H50       1343739.PAP_05195
3     28H50      387631.Asulf_01176
4     28H50       756883.Halar_0039
...     ...                     ...
1272  28H58  936573.HMPREF1147_2068
1273  28H59        565033.GACE_1005
1274  28H59       572546.Arcpr_0848
1275  28H59            69014.TK0075
1276  28H59            69014.TK0091

[1277 rows x 2 columns]

Root_OGMembers_temp = pd.DataFrame(Root_OGMembers.loc[:,4].explode()).reset_index()
Root_OGMembers_temp.loc[:,4].str.split(".", n=1)[0]
#Root_OGMembers_temp["Species"] = Root_OGMembers_temp.loc[:,4].str.split(".", n=1, expand=True)[0]
#Root_OGMembers_temp#.columns = ["eOG","Species"]

#Root_OGMembers_temp["Count"] = 1.0

In [11]:
Root_OGMembers_temp2 = Root_OGMembers_temp.loc[:,4].str.split(".", n=1, expand = True)
#Root_OGMembers_temp["Gene"] = Root_OGMembers_temp.loc[:,4].str.split(".", n=1, expand = True)[1]

In [12]:
Root_OGMembers_temp = pd.concat([Root_OGMembers_temp[1], Root_OGMembers_temp2], axis=1)
Root_OGMembers_temp.columns = ["eOG","Species","Gene"]

In [15]:
Root_OGMembers_temp.pivot_table(values='Gene', index ='eOG', columns='Species', aggfunc=pd.Series.nunique, fill_value=0)

Species,1001585,1003195,1004785,1005048,1005395,1005962,101028,101162,101852,10224,...,936573,94122,944435,948106,95619,97096,977880,983545,983917,984962
eOG,,,,,,,,,,,,,,,,,,,,,
28H50,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28H51,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28H52,6,0,1,1,4,0,0,0,0,0,...,0,1,1,1,10,0,1,2,1,0
28H53,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28H54,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28H55,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28H56,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28H57,0,0,0,0,0,1,3,3,3,2,...,0,0,0,0,0,3,0,0,0,1
28H58,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
28H59,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
temp = Root_OGMembers_temp.groupby(["eOG","Species"]).count()
temp#.reset_index()

In [ ]:
temp

In [ ]:
Root_OGMembers_temp.pivot_table(values='Count', index ='eOG', columns='Species', aggfunc=pd.Series.nunique, fill_value=0)

In [ ]:
Root_OGMembers_temp.pivot_table(values='Count', index='eOG', columns='Species', aggfunc=pd.Series.nunique)

In [ ]:
temp.pivot(index='eOG', columns='Species', values='Presence').fillna(0)

In [ ]:
Root_OGMembers_temp = pd.DataFrame(Root_OGMembers.loc[:,5].explode()).reset_index()
Root_OGMembers_temp.columns = ["eOG","Species"]
Root_OGMembers_temp["Presence"] = 1.0
Root_OGMembers_temp.groupby("Species")
Root_OGMembers = Root_OGMembers_temp.pivot(index='eOG', columns='Species', values='Presence').fillna(0)#.iloc[:,"1000565"]

In [ ]:
OFOGs[OFOGs.eOG == "COG2048"]

In [ ]:
emapper = pd.read_csv("../Data/input/MM_jbrjl6fg.emapper.annotations.tsv", sep ="\t", comment = "#", header = None)
emapper.columns = ["query","seed_ortholog","evalue","score","eggNOG_OGs","max_annot_lvl","COG_category","Description","Preferred_name","GOs","EC","KEGG_ko","KEGG_Pathway","KEGG_Module","KEGG_Reaction","KEGG_rclass","BRITE","KEGG_TC","CAZy","BiGG_Reaction","PFAMs"]

OFOGs = pd.read_csv("../Data/input/Proteomes/OrthoFinder/Results_Dec03/Orthogroups/Orthogroups.GeneCount.tsv", sep ="\t", comment = "#", index_col = 0, header = 0)

OFOG_Annot = pd.DataFrame()
OFOG_Annot["OFOG"] = emapper["query"].str.split(".",expand=True)[0]
OFOG_Annot["eOG"] = emapper["eggNOG_OGs"].str.split("@",expand=True)[0]

OFOGs.astype(int)

OFOGs = OFOGs.merge(OFOG_Annot, how = "left", left_index=True, right_on = "OFOG").set_index("OFOG").drop("Total", axis = 1)

eOG = OFOGs.eOG.dropna().unique()

for OFOG in OFOGs[OFOGs.eOG.isna()].index:
    OFOGs.eOG.loc[OFOG] = OFOG

OFOGs

In [ ]:
OFOGs[OFOGs.eOG.duplicated()]

In [ ]:
Root_OGMembers = pd.read_csv("../Data/input/EggNOG/1_members.tsv", sep ="\t", comment = "#", header = None, index_col = 1)
Root_OGMembers = Root_OGMembers[Root_OGMembers.index.isin(eOG)]
Root_OGMembers.loc[:,5] = Root_OGMembers.loc[:,5].str.split(",", expand = False)

Root_OGMembers_temp = pd.DataFrame(Root_OGMembers.loc[:,5].explode()).reset_index()
Root_OGMembers_temp.columns = ["eOG","Species"]
Root_OGMembers_temp["Presence"] = 1.0
Root_OGMembers_temp.groupby("Species")
Root_OGMembers = Root_OGMembers_temp.pivot(index='eOG', columns='Species', values='Presence').fillna(0)#.iloc[:,"1000565"]

CombinedDF = OFOGs.merge(Root_OGMembers, how = "outer", left_index=True, right_index=True).fillna(0)
CombinedDF

Create Species index DF to subset above.

In [ ]:
SpeciesIndexDF = pd.read_csv("../Data/input/SpeciesIndexDF.tsv", sep ="\t", comment = "#", header = 0, index_col = "Proteome Id", dtype=str)["Organism"]
SpeciesIndexDF = SpeciesIndexDF.str.replace("Ca. ","").str.split(" ", n=1, expand = True)[0]

#manual correction
SpeciesIndexDF["UP000321408"] = "Lokiarchaeota"
SpeciesIndexDF["UP000625964"] = "Lokiarchaeota"
SpeciesIndexDF["UP000721749"] = "Heimdallarchaeota"
SpeciesIndexDF["UP000625964"] = "Lokiarchaeota"
SpeciesIndexDF["UP000721749"] = "Heimdallarchaeota"
SpeciesIndexDF["UP000775429"] = "Heimdallarchaeota"

SpeciesIndexDF = pd.DataFrame(SpeciesIndexDF)
SpeciesIndexDF["Kingdom"] = "Archaea"
SpeciesIndexDF["Lineage"] = "Asgard"
SpeciesIndexDF.columns = ["Species","Kingdom","Lineage"]

TaxidInfo = pd.read_csv("../Data/input/EggNOG/e5.taxid_info.tsv", sep ="\t", header = 0, index_col = "# Taxid", dtype=str)
TaxidInfo.Lineage = TaxidInfo.Lineage.str.split(",", n=1, expand = True)[0]
TaxidInfo = TaxidInfo.drop(["Rank","Taxid Lineage"], axis = 1)
TaxidInfo.columns = ["Species","Kingdom","Lineage"]

SpeciesIndexDF_grouped = SpeciesIndexDF.append(TaxidInfo)
SpeciesIndexDF_grouped.index = SpeciesIndexDF_grouped.index.astype(str)
SpeciesIndexDF_grouped

In [ ]:
Lineages = np.concatenate([SpeciesIndexDF_grouped[SpeciesIndexDF_grouped.Kingdom == "Archaea"].Lineage.unique(),
SpeciesIndexDF_grouped[SpeciesIndexDF_grouped.Kingdom == "Bacteria"].Lineage.unique()])

In [ ]:
ByLineage = pd.DataFrame(index = CombinedDF.index)
for lineage in Lineages:
    ByLineage[lineage] = CombinedDF.loc[:,SpeciesIndexDF_grouped.index[SpeciesIndexDF_grouped.Lineage == lineage]].mean(axis = 1)
    
ByLineage.transpose()

mask = SpeciesIndexDF_grouped[SpeciesIndexDF_grouped.Kingdom == "Archaea"].index.values
CombinedDF.loc[:,CombinedDF.columns.isin(mask)]

In [ ]:
Data = ByLineage.transpose()
Data

In [ ]:
labels = Data.columns
width = 1

fig, ax = plt.subplots()

for lineage in Data.index:
    ax.bar(labels, Data.loc[lineage,:]/sum(Data.loc[lineage,:]), width=1)

ax.set_ylabel('Prevelance')
ax.set_title('OG')
ax.legend()

plt.xticks([])
plt.yticks([])
plt.show()

In [ ]:
#plt.bar(Data.transpose())

Data.transpose().plot(kind='bar', 
                    stacked=True, 
                    colormap='tab10', width = 1
                    figsize=(10, 6))

#plt.legend(loc="upper left", ncol=2)
#plt.xlabel("Release Year")
#plt.ylabel("Proportion")